*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    font-family: "Poppins", serif;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 90%;
    margin-top: 4rem;
    padding: 2rem 0.2rem;
    background-color: #e7ebed;
    border-radius: 20px 20px 80px ;
}

.input-container{
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
    color: hsl(0, 1%, 44%);
}

.input-container .input-boxs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    font-size: .7rem;
    width: 30%;
}

.input-boxs label{
    font-size: 16px;
}

.input-boxs .error{
    width: 150px;
    font-size: 15px;
    color: red;
}


.input-container .input-boxs input{
    padding: .7rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #918989;
    outline: none;
    color: #000;
    min-width: 80px;
}

.input-container .input-boxs input:hover,.input-container .input-boxs input:focus{
    border: 2px solid hsl(259, 100%, 65%);
}

.btn-container{
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
}

.line{
    padding: 1px;
    background-color:  hsl(0, 0%, 86%);
}

.btn{
    padding: .5rem;
    background-color:  hsl(259, 100%, 65%);
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -10px;
}

.btn:hover{
    background-color: #000;
    transition: all .3s;
}

.result-container{
    padding: .5rem;
    font-size: 2.8rem;
    font-weight: 800;
    margin-left: .5rem;
}

.result-container .age{
    color: hsl(259, 100%, 65%);
    font-size:1.2em;
}

@media(min-width:321px){
    .result-container{
        font-size: 3.3rem;
    }

    .input-container .input-boxs input{
        font-size: 25px;
    }
}

@media (min-width:756px) {
    #root{
        width: 600px;
    }
    .input-container .input-boxs input{
        font-size: 35px;
    }
}